//default color
$default-color: #F4E041;
$hover-color: #FFE302;
$bg: #F8F8F8;
$color-light: #FFFFFF;
$color-dark: rgba(0, 0, 0, 0.87);
$bg-disabled: #B4B4B4;
$color-disabled: rgba(255, 255, 255, 0.87);
$color-border: #D0CFCF;
$placeholder: #7E7E7E;
$error: #CB3D40;
$primary-color: #00BDD3;

// fonts
$font-nun-reg-lg: normal 400 40rem/40rem "Nunito-Regular";
$font-nun-reg-sm: normal 400 16rem/26rem "Nunito-Regular";
$font-nun-reg-xs: normal 500 12rem/14rem "Nunito-Regular";

//media screen size
$xs: "screen and (max-width: 767px)";
$md: "screen and (max-width: 768px)";
$sm: "screen and (max-width: 1024px)";
$lg: "screen and (min-width: 2559px)";


